.greyCard_148 {
  background-color: var(--grey);
  border-radius: 24px;
  width: 100%;
  block-size: 148px;
  margin-bottom: 16px;
}

.greyCard_327 {
  background-color: var(--grey);
  border-radius: 24px;
  width: 100%;
  block-size: 327px;
  margin-bottom: 16px;
}

.masonryCardRow {
  display: flex;

  width: 100%;
}

.masonryCardColumn:first-of-type {
  padding-right: 16px;
}

.masonryCardColumn {
  width: 100%;
}

.wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 105px);
  z-index: 999;
  width: 100%;
}

.wrapper::-webkit-scrollbar {
  display: none;
}
