.appBar {
  /* height: 73px; */
  background-color: var(--white);
  display: flex;
  justify-content: end;
  margin-left: 3px;
  padding: 16px;
}

.appBar[data-theme='dark'] {
}
.appBar > div:first-of-type {
  display: none;
}

.appBar > div:last-of-type {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 21px;
}

.appBar > div > img {
  width: 40px;
  height: 40px;
  fill: red;
  stroke: red;
}

@media only screen and (max-width: 1200px) {
  .appBar {
    justify-content: space-between;
  }

  .appBar > div:first-of-type {
    display: block;
  }

  .appBar > div:last-of-type > img:not(:last-of-type) {
    display: none;
  }
}
