.layout {
  background-color: #f5f5f5;
  display: flex;
  height: 100%;
  width: 100%;
}

.contentWrapper {
  width: 100%;
  height: 100%;
}

.content {
  padding: 33px 22px 0 43px;
  display: flex;
  gap: 48px;
}

.content > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
