.sidebar {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* width: 73px; */
  padding: 0 19px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar > img:first-of-type {
  width: 70px;
  height: 70px;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.sidebar > div > img {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
