.wrapper {
  display: flex;
  gap: 19px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 36px 30px;
}
.wrapper > div {
  width: 50%;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

  color: #000000;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper > form > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    display: none;
  }
}
